.content__btn{
    display: inline-flex;
    text-decoration: none;
    background-color: #27a7e7;
    width: 210px;
    height: 65px;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    border-left: 1px solid #27a7e7;
    border-right: 1px solid #27a7e7;
    border-top: 1px solid #27a7e7;
    border-bottom: 1px solid #27a7e7;
    align-items: center;
    margin: 1rem;

    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

  .content__btn:hover::before {
    display: block;
    position: absolute;
    content: '';

    background-color: #2A2C2F;
    transition: opacity .3s;
    opacity: .2;

    width: 210px;
    height: 65px;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    border-left: 1px solid #27a7e7;
    border-right: 1px solid #27a7e7;
    border-top: 1px solid #27a7e7;
    border-bottom: 1px solid #27a7e7;
    margin: 1rem;
    cursor: pointer;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;

  }
  