.page {
    /* Размер */
    /* max-width: 1280px; */
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    /* Цвет */
    background-color: rgb(255, 249, 245);
    /* background-color: rgb(179,133,106); */
    color: #fffff2;
    /* Шрифт */
    font-family: 'Roboto', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
