.photo-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    width: calc(100% - 96px);
    grid-gap: 16px;
    margin: 0 auto 92px;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        width: calc(100% - 96px);
        grid-gap: 12px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(3, 280px);
        width: calc(100% - 96px);
        grid-gap: 12px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1022px) {
    .photo-grid {
        grid-template-columns: repeat(2, 350px);
        width: calc(100% - 96px);
        grid-gap: 12px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: minmax(100px, 1fr);
        width: calc(100% - 162px);
        grid-gap: 12px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}


@media screen and (min-width: 380px) and (max-width: 500px) {
    .photo-grid {
        grid-template-columns: minmax(100px, 1fr);
        width: calc(100% - 132px);
        grid-gap: 12px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 380px) {
    .photo-grid {
        grid-template-columns: minmax(100px, 1fr);
        width: calc(100% - 62px);
        grid-gap: 12px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}