.otvet__abs{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: rgb(153, 114, 91);
}

@media screen and (max-width: 480px) {
    .otvet__abs {
        font-size: 18px;
    }
}