.location__title{
    text-decoration: none;
    margin: 0;
    margin-bottom: 60px;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
    max-width: 80vb;
    font-family: 'Playfair';
}

@media screen and (max-width: 480px) {
    .location__title {
        font-size: 36px;
    }
}
