.love__title{
    display: inline-block;
    text-decoration: none;
    margin: 0;
    margin-bottom: 60px;
    font-size: 46px;
    font-weight: 400;
    font-family: 'Playfair';
    text-align: center;
    max-width: 80vb;
}

@media screen and (max-width: 480px) {
    .love__title {
        font-size: 36px;
    }
}
