.cover__subtitle {
    text-decoration: none;
    max-width: 360px;
    margin: 0;
    /* Шрифты */
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) -1px -1px 0px) drop-shadow(rgba(255, 255, 255, 0) 1px 1px 0px);
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 18px;
    }
  }

@media screen and (max-width: 520px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;

    }
  }