.love__video{
    height: 390px;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .love__video {
        height: 320px;
    }
}

@media screen and (max-width: 767px) {
    .love__video {
        height: 290px;
    }
}