.content__title{
    text-decoration: none;
    margin: 0;
    margin-bottom: 60px;
    font-size: 46px;
    font-weight: 400;
    font-family: 'Playfair';
    text-align: center;
    max-width: 80vb;
}

@media screen and (max-width: 480px) {
    .content__title {
        font-size: 36px;
        margin-left: 25px;
        margin-right: 25px
        ;
    }
}
