.time__subt-dob{
    margin: 0;
    font-family: roboto;
    font-size: 18px;
    line-height: 1.5;
    --bullet-char: '';
    --bullet-offset: 20px;
    --br-height: 8px;
}

@media screen and (max-width: 480px) {
    .time__subt-dob {
        font-size: 16px;
    }
}