.time__subt{
    position: relative;
    margin: 0;
    top: -7.5px;
    font-family: roboto;
    font-size: 21.6px;
    line-height: 1.3;
    font-weight: 900;
    --bullet-char: '';
    --bullet-offset: 20px;
    --br-height: 8px;
}

@media screen and (max-width: 480px) {
    .time__subt {
        font-size: 19px;
    }
}