.cover__filter{
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    width: auto;
    height: auto;
    --bg-idle: var(--wdc-transparent);
    position: absolute;
    inset: 0px;
    background: radial-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 70%, rgb(255, 255, 255) 100%);
    opacity: 0.34;
}