.otvet{
    padding: 108px 24px;
    margin: 0px;
    border-radius: 0px;
    height: fit-content;
    flex-shrink: 0;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .otvet {
        padding: 108px 54px;
    }
}