.rsvp__title{
    text-decoration: none;
    color: #99725B;
    margin: 0;
    margin-bottom: 60px;
    font-size: 46px;
    font-family: 'Playfair';
    text-align: center;
    max-width: 80vb;
}

@media screen and (max-width: 480px) {
    .rsvp__title {
        font-size: 39px;
        margin-top: 30px;
    }
}
